<div class="navbar">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl bg-amber-500">FormsForYou</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>CPU Usage Dashboard</a></li>
      <li>
        <details>
          <summary>
            Learn More
          </summary>
          <ul class="p-2 bg-base-100">
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>