<div class="ml-10 p-5">

  <header class="pb-5">
    <h1 class="text-3xl font-bold">CPU Usage Dashboard</h1>
  </header>


  <div class="space-y-3">
    <h1 class="text-xl font-bold">My Snapshot</h1>
    <p class="text-sm italic text-gray-400">These are your personal CPU usage statistics</p>
  </div>
  <div class="stats shadow mt-5">

    <div class="stat">
      <div class="stat-figure text-amber-500">
        <i class="fa fa-signal fa-2xl" aria-hidden="true"></i>
      </div>
      <div class="stat-title">Latest</div>
      <div *ngIf="latestUserCpuUsage === '' else latestUserCpuUsageDiv">
        <span class="loading loading-spinner loading-md"></span>
      </div>
      
      <ng-template #latestUserCpuUsageDiv>
        <div class="stat-value">{{ latestUserCpuUsage }}%</div>
      </ng-template>
      
      <div class="stat-desc">As of {{ latestUserTimestamp }}</div>
    </div>
    
    <div class="stat">
      <div class="stat-figure text-amber-500">
        <i class="fa fa-percent fa-2xl" aria-hidden="true"></i>
      </div>
      <div class="stat-title">Percentile</div>
      <div *ngIf="userPercentile === '' else userPercentileDiv">
        <span class="loading loading-spinner loading-md"></span>
      </div>
      
      <ng-template #userPercentileDiv>
        <div class="stat-value">{{ userPercentile }}</div>
      </ng-template>
      <div class="stat-desc">Across all users</div>
    </div>
    
    <div class="stat">
      <div class="stat-figure text-amber-500">
        <i class="fa fa-clock fa-2xl" aria-hidden="true"></i>
      </div>
      <div class="stat-title">Hourly Average</div>
      <div *ngIf="userLastHourAvgUsage === '' else userLastHourAvgUsageDiv">
        <span class="loading loading-spinner loading-md"></span>
      </div>
      
      <ng-template #userLastHourAvgUsageDiv>
        <div class="stat-value">{{ userLastHourAvgUsage }}%</div>
      </ng-template>
    </div>
    
  </div>
  <h1 class="text-xl font-bold my-5">High CPU Usage <div class="tooltip" data-tip="Users with a higher than average hourly CPU usage">
    <i class="fa fa-info-circle fa-xs" aria-hidden="true"></i>
  </div></h1>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>User ID</th>
          <th>CPU Usage (%)</th>
          <th>Severity Level</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of usersWithAboveAvgUsage; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ row.user.userUUID }}</td>
            <td>{{ row.userAvg }}</td>
            <td [ngClass]="{
              'text-red-500': row.userAvg > 50,
              'text-amber-500': row.userAvg <= 50 && row.userAvg > 30,
              'text-green-500': row.userAvg <= 30
            }">
              {{ row.userAvg > 50 ? 'High' : row.userAvg > 30 ? 'Medium' : 'Low' }}
            </td>    
          </tr>
      </tbody>
    </table>
  </div>
</div>
